<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" type="SmartCA.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, SmartCA.Infrastructure, 
             Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortName="iProjectRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectRepository,
                         SmartCA.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
</configuration>